colorlog==6.9.0
python-decouple==3.8
streamlit>=1.42.0
fastapi==0.115.13
pydantic==2.11.7
langchain-core==0.3.65
langchain-community==0.3.25
langchain-openai==0.3.23
langgraph==0.4.1
SPARQLWrapper==2.0.0
openai==1.93.2
uvicorn[standard]==0.34.3
loguru==0.7.3
numpy==2.3.0
python-dotenv==1.1.0
pymongo==4.13.2
sentence-transformers==5.0.0
langchain-huggingface==0.3.0
faiss-cpu==1.11.0