ALLOWED_KEYS=INJECTED_ALLOWED_KEYS
PORT=INJECTED_PORT
MODELS=gpt-4o,gpt-4o-mini,o1-mini,meta-llama-3.1-8b-instruct,meta-llama-3.1-70b-instruct,mistral-large-instruct,gemini-1.5-flash,gemini-2.0-flash-lite,gemini-2.5-pro-exp-03-25